.root {
    -fx-font-family: "System";
    -fx-font-size: 15px;
    -fx-control-inner-background: #FFFFFF;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color, 100.0%) 0%, derive(-fx-color, 100.0%) 100%);
    -fx-body-color: linear-gradient(to bottom, derive(-fx-color, 100.0%) 0%, derive(-fx-color, 100.0%) 100%);
}

.background {
    -fx-background-color: white;
}

.button {
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:pressed {
    -fx-background-color: #ecebe9,
    rgba(0, 0, 0, 0.05),
    linear-gradient(#ecebe9, #ecebe9),
    linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
    linear-gradient(#f6ebbe, #e6c34d);
}

.button Text {
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.5), 0, 0.0, 0, 1);
}

.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 2px 5px 2px 5px;

}

.combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}

.text-field {
    -fx-background-radius: 50;
    -fx-background-repeat: stretch;
}

.search-text-field {
    -fx-background-radius: 50;
    -fx-padding: 0 0 0 40;
    -fx-background-repeat: stretch;
    -fx-background-position: left center;
}

.table-view {

}